header#banner
  .container
    h1.logo
      a(href='/') Pokemons
    .search-form
      input.input(ng-model='searchPokemons', placeholder='Search Pokemons')
      i.fa.fa-search

div(ng-include="'components/navbar/navbar.html'")

.container
  ul.pokelist.bg-content
    li.pokelist__item(ng-repeat='pokemon in pokemons | filter:searchPokemons')
      a(href='pokemon/{{pokemon.id}}')
        h2 {{pokemon.name}}
        .pokelist__image
          img(ng-src='{{pokemon.image}}', alt='{{pokemon.name}}')
