header#banner
  .container
    h1
      a(href='/') Pokemons

div(ng-include="'components/navbar/navbar.html'")

.container.bg-content(ng-controller='ListPokemonsController')
  ul.pokelist
    li.pokelist__item(ng-repeat='pokemon in pokemons')
      a(href='pokemon/{{pokemon.id}}')
        h2 {{pokemon.name}}
        .pokelist__image
          img(ng-src='{{pokemon.image}}', alt='{{pokemon.name}}')
