/*
 * All Styles of Pokemon's page
 */

.pokemon-content {

}

.pokemon-content__image {
  @extend %wrapper-bg-image;

  img { width: 100%; }
}

.pokemon-content__info {
  font-weight: bold;

  p { margin: 5px 0; }

  span { font-weight: normal; }
}

.pokemon__data {
  span {
    display: inline-block;
    margin-right: 10px;
  }
}

@media (min-width: 500px) {
  .pokemon-content__info,
  .pokemon-content__image {
    display: inline-block;
    vertical-align: top;
  }

  .pokemon-content__image {
    background-color: $yellow-dark;
    margin-right: 20px;
    min-height: 200px;
    width: 200px;
  }

  .pokemon-content__info { width: calc(100% - 225px); }
}
