
$fa-font-path: "/bower_components/font-awesome/fonts";

@import 'font-awesome/scss/font-awesome';
@import '_helpers.scss';

/**
* App-wide Styles
*/

%wrapper-bg-image {
  background: url('/assets/images/container_bg.png') fixed;
}

body {
  @extend %wrapper-bg-image;
  background-color: $background-color;
  color: $font-color;
  font-family: $font-default;
  font-size: $font-size;
  line-height: $line-height;
  margin: 0;
  padding: 0;
}

* {
  @include box-sizing(border-box);
}

h1, h2, h3, h4 {
  line-height: 1.3em;
}

.title { color: $gray-dark; }

.subtitle {
  color: $gray-dark;
  text-shadow: 2px 2px 2px rgba($gray-dark, .3);
}

a {
  color: $link-color;
  text-decoration: none;

  &:hover { color: $link-color-hover; }
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#banner {
  background-image: linear-gradient(to right, $yellow-dark, $yellow);
  padding: 1.2em 1em;

  h1 {
    background: $white url('/assets/images/logo-pokemon-79x45.png') no-repeat center center;
    color: transparent;
    font: 0/0 a;
    height: 65px;
    width: 100px;

    a {
      display: block;
      height: 65px;
      width: 100px;
    }
  }
}

.wrapper {
  background: url('/assets/images/pokebola-450x450.png') no-repeat -150px 170% fixed;
  padding-bottom: 60px;
}

.container { padding: 0 1em }

.bg-content {
  background: $white;
  border-radius: 0 0 20px 20px;
  padding: 20px;
}

.browsehappy {
  background: $yellow-light;
  color: $gray-dark;
  margin: 0.2em 0;
  padding: 0.2em 0;
}

.navbar {
  background: $gray-dark;
  padding: 1.2em 1em;

  a {
    color: $white;

    &:hover { color: $yellow; }
  }
}

@media screen and (min-width: 768px) {
  .container {
    margin: 0 auto;
    max-width: 730px;
  }
}

@media screen and (min-width: 968px) {
  .container { max-width: 1050px; }
}

@media screen and (min-width: 1300px) {
  .container { max-width: 1200px; }
}

// Component styles are injected through grunt
// injector
// endinjector

@import '_buttons.scss';
@import '_forms.scss';
@import '_pokemons_list.scss';
@import '_pokemon_page.scss';
@import '_comments.scss';
